
.divTable {
    display: table;
    width: 90%;
}

.divHeading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.divRow {
    display: table-row;
}

.divCell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
}

.divCellCurrency {
    font-size: 12px;
}


